#canvas1{
	border        : dotted 3px #ECECEC;
	background    : #F7F7F7;
	border-radius : 12px;
			}
#canvas2{
	border        : dotted 3px #ECECEC;
	background    : #F7F7F7;
	border-radius : 12px;
			}